pre {
    font-size:12px;
}

#topic-post {
    background: #333;
    width: 120px;
    margin: 0px 10px;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff !important
}

#topic-post:focus{
    padding: 6px !important;
}

.page-header {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color: #fff !important;
    margin-bottom: 20px;
}

#question-input {
    width: 100vw;
    background: #111 !important;
    color: #fff !important;
    border: 1px solid #fff !important
}

input[type=text]:focus, textarea:focus, input:focus {
    box-shadow: 0 0 5px #fff !important;
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid #fff !important;
}

#question-input:active{

}

#content{
    background: #333 !important;
}

.create-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    background: darkgreen;
}

.exam-row {
    justify-content:center;
}

.card-10:hover {
    border: 2px solid #4e73df;
    cursor: pointer !important;
}
.card-20:hover {
    border: 2px solid var(--warning);
    cursor: pointer !important;
}
.card-50:hover {
    border: 2px solid var(--danger);
    cursor: pointer !important;
}

.centered-flex {
    display: flex;
    justify-content: center
}